/**
 * This is a basic interface for {{ objecApiName }} for the Data Layer
 * Implemented by the Proj_BBVARolesSelector class
 **/
public interface {{ interfaceName }} extends bbvacep.fflib_ISObjectDomain  {
}